USE [TeacherPerformanceDB]
GO
/****** Object:  UserDefinedTableType [dbo].[Type_Dictionary_Int_Int]    Script Date: 26.12.2025 02:00:23 ******/
CREATE TYPE [dbo].[Type_Dictionary_Int_Int] AS TABLE(
	[Key] [int] NULL,
	[Value] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[Type_Dictionary_String_Object]    Script Date: 26.12.2025 02:00:23 ******/
CREATE TYPE [dbo].[Type_Dictionary_String_Object] AS TABLE(
	[Key] [nvarchar](max) NULL,
	[Value] [sql_variant] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[Type_Dictionary_String_String]    Script Date: 26.12.2025 02:00:23 ******/
CREATE TYPE [dbo].[Type_Dictionary_String_String] AS TABLE(
	[Key] [nvarchar](max) NULL,
	[Value] [nvarchar](max) NULL
)
GO
/****** Object:  Table [dbo].[Students]    Script Date: 26.12.2025 02:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentNumber] [nvarchar](20) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](150) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 26.12.2025 02:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CourseCode] [nvarchar](50) NOT NULL,
	[CourseName] [nvarchar](200) NOT NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Grades]    Script Date: 26.12.2025 02:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grades](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CourseId] [int] NOT NULL,
	[StudentId] [int] NOT NULL,
	[TeacherId] [int] NOT NULL,
	[MidtermExam] [int] NULL,
	[FinalExam] [int] NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_StudentGrades]    Script Date: 26.12.2025 02:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_StudentGrades]
WITH SCHEMABINDING -- Index oluşturabilmek için Schemabinding şart
AS
SELECT 
    g.Id,
    s.FirstName + ' ' + s.LastName AS StudentName,
    c.CourseName,
    g.MidtermExam,
    g.FinalExam,
    (ISNULL(g.MidtermExam, 0) * 0.4 + ISNULL(g.FinalExam, 0) * 0.6) AS Average
FROM dbo.Grades g
INNER JOIN dbo.Students s ON g.StudentId = s.Id
INNER JOIN dbo.Courses c ON g.CourseId = c.Id;
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 26.12.2025 02:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Announcements]    Script Date: 26.12.2025 02:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Announcements](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NULL,
	[Content] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 26.12.2025 02:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 26.12.2025 02:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 26.12.2025 02:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 26.12.2025 02:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 26.12.2025 02:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 26.12.2025 02:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 26.12.2025 02:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attendances]    Script Date: 26.12.2025 02:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendances](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CourseId] [int] NOT NULL,
	[StudentId] [int] NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[TeacherId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs_Table]    Script Date: 26.12.2025 02:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs_Table](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TableName] [nvarchar](100) NOT NULL,
	[Operation] [nvarchar](20) NOT NULL,
	[RecordId] [int] NOT NULL,
	[LogDate] [datetime2](7) NULL,
	[Details] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Managers]    Script Date: 26.12.2025 02:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Managers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teachers]    Script Date: 26.12.2025 02:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teachers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[Title] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Announcements] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Grades] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Logs_Table] ADD  DEFAULT (getdate()) FOR [LogDate]
GO
ALTER TABLE [dbo].[Students] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Attendances]  WITH CHECK ADD  CONSTRAINT [FK_Attendances_Courses] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([Id])
GO
ALTER TABLE [dbo].[Attendances] CHECK CONSTRAINT [FK_Attendances_Courses]
GO
ALTER TABLE [dbo].[Attendances]  WITH CHECK ADD  CONSTRAINT [FK_Attendances_Students] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([Id])
GO
ALTER TABLE [dbo].[Attendances] CHECK CONSTRAINT [FK_Attendances_Students]
GO
ALTER TABLE [dbo].[Attendances]  WITH CHECK ADD  CONSTRAINT [FK_Attendances_Teachers] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Teachers] ([Id])
GO
ALTER TABLE [dbo].[Attendances] CHECK CONSTRAINT [FK_Attendances_Teachers]
GO
ALTER TABLE [dbo].[Grades]  WITH CHECK ADD  CONSTRAINT [FK_Grades_Courses] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([Id])
GO
ALTER TABLE [dbo].[Grades] CHECK CONSTRAINT [FK_Grades_Courses]
GO
ALTER TABLE [dbo].[Grades]  WITH CHECK ADD  CONSTRAINT [FK_Grades_Students] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([Id])
GO
ALTER TABLE [dbo].[Grades] CHECK CONSTRAINT [FK_Grades_Students]
GO
ALTER TABLE [dbo].[Grades]  WITH CHECK ADD  CONSTRAINT [FK_Grades_Teachers] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Teachers] ([Id])
GO
ALTER TABLE [dbo].[Grades] CHECK CONSTRAINT [FK_Grades_Teachers]
GO
/****** Object:  StoredProcedure [dbo].[SP_Announcement_Delete]    Script Date: 26.12.2025 02:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Silme
CREATE   PROCEDURE [dbo].[SP_Announcement_Delete]
    @Id INT
AS
BEGIN
    DELETE FROM [dbo].[Announcements] WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Announcement_Insert]    Script Date: 26.12.2025 02:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. PROSEDÜRLER

-- Ekleme
CREATE   PROCEDURE [dbo].[SP_Announcement_Insert]
    @Title NVARCHAR(200),
    @Content NVARCHAR(MAX)
AS
BEGIN
    INSERT INTO [dbo].[Announcements] (Title, Content, CreatedDate)
    VALUES (@Title, @Content, GETDATE());
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Announcement_Update]    Script Date: 26.12.2025 02:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Güncelleme
CREATE   PROCEDURE [dbo].[SP_Announcement_Update]
    @Id INT,
    @Title NVARCHAR(200),
    @Content NVARCHAR(MAX)
AS
BEGIN
    UPDATE [dbo].[Announcements]
    SET Title = @Title,
        Content = @Content
    WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAnnouncements]    Script Date: 26.12.2025 02:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Listeleme
CREATE   PROCEDURE [dbo].[SP_GetAnnouncements]
    @pagination dbo.Type_Dictionary_String_String READONLY,
    @where dbo.Type_Dictionary_String_String READONLY,
    @parameters dbo.Type_Dictionary_String_Object READONLY
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @PageNumber INT = 1;
    DECLARE @PageSize INT = 10;
    
    SELECT @PageNumber = CAST([Value] AS INT) FROM @pagination WHERE [Key] = 'PageNumber';
    SELECT @PageSize = CAST([Value] AS INT) FROM @pagination WHERE [Key] = 'PageSize';

    DECLARE @SearchText NVARCHAR(100) = '';
    SELECT @SearchText = [Value] FROM @where WHERE [Key] = 'SearchText';

    DECLARE @TotalRecordCount INT;

    SELECT @TotalRecordCount = COUNT(*) 
    FROM [dbo].[Announcements]
    WHERE (@SearchText = '' OR Title LIKE '%' + @SearchText + '%');

    SELECT 
        ROW_NUMBER() OVER (ORDER BY CreatedDate DESC) AS RowNum,
        *,
        @TotalRecordCount AS TotalRecordCount
    FROM [dbo].[Announcements]
    WHERE (@SearchText = '' OR Title LIKE '%' + @SearchText + '%')
    ORDER BY CreatedDate DESC
    OFFSET (@PageNumber - 1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetStudents]    Script Date: 26.12.2025 02:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Listeleme
CREATE PROCEDURE [dbo].[SP_GetStudents]
    @pagination dbo.Type_Dictionary_String_String READONLY,
    @where dbo.Type_Dictionary_String_String READONLY,
    @parameters dbo.Type_Dictionary_String_Object READONLY
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @PageNumber INT = 1;
    DECLARE @PageSize INT = 10;
    
    SELECT @PageNumber = CAST([Value] AS INT) FROM @pagination WHERE [Key] = 'PageNumber';
    SELECT @PageSize = CAST([Value] AS INT) FROM @pagination WHERE [Key] = 'PageSize';

    DECLARE @SearchText NVARCHAR(100) = '';
    SELECT @SearchText = [Value] FROM @where WHERE [Key] = 'SearchText';

    DECLARE @TotalRecordCount INT;

    SELECT @TotalRecordCount = COUNT(*) 
    FROM [dbo].[Students]
    WHERE (@SearchText = '' OR FirstName LIKE '%' + @SearchText + '%' OR LastName LIKE '%' + @SearchText + '%');

    SELECT 
        ROW_NUMBER() OVER (ORDER BY Id DESC) AS RowNum,
        *,
        @TotalRecordCount AS TotalRecordCount
    FROM [dbo].[Students]
    WHERE (@SearchText = '' OR FirstName LIKE '%' + @SearchText + '%' OR LastName LIKE '%' + @SearchText + '%')
    ORDER BY Id DESC
    OFFSET (@PageNumber - 1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetTeachers]    Script Date: 26.12.2025 02:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. LİSTELEME PROSEDÜRÜ (Güncelleme: RowNum ve Filtreleme ekledik)
CREATE   PROCEDURE [dbo].[SP_GetTeachers]
    @pagination dbo.Type_Dictionary_String_String READONLY,
    @where dbo.Type_Dictionary_String_String READONLY,
    @parameters dbo.Type_Dictionary_String_Object READONLY
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @PageNumber INT = 1;
    DECLARE @PageSize INT = 10;
    DECLARE @OrderBy NVARCHAR(100) = 'Id ASC';
    
    -- Pagination verilerini al
    SELECT @PageNumber = CAST([Value] AS INT) FROM @pagination WHERE [Key] = 'PageNumber';
    SELECT @PageSize = CAST([Value] AS INT) FROM @pagination WHERE [Key] = 'PageSize';
    SELECT @OrderBy = [Value] FROM @pagination WHERE [Key] = 'OrderBy';

    -- Filtreleme (Arama) verisini al
    DECLARE @SearchText NVARCHAR(100) = '';
    SELECT @SearchText = [Value] FROM @where WHERE [Key] = 'SearchText';

    DECLARE @TotalRecordCount INT;

    -- Filtreye uygun kayıt sayısı
    SELECT @TotalRecordCount = COUNT(*) 
    FROM [dbo].[Teachers]
    WHERE (@SearchText = '' OR FirstName LIKE '%' + @SearchText + '%' OR LastName LIKE '%' + @SearchText + '%');

    -- Veriyi Çek
    SELECT 
        ROW_NUMBER() OVER (
            ORDER BY 
            CASE WHEN @OrderBy = 'FirstName ASC' THEN FirstName END ASC,
            CASE WHEN @OrderBy = 'FirstName DESC' THEN FirstName END DESC,
            CASE WHEN @OrderBy = 'Id ASC' THEN Id END ASC,
            CASE WHEN @OrderBy = 'Id DESC' THEN Id END DESC
        ) AS RowNum,
        *,
        @TotalRecordCount AS TotalRecordCount
    FROM [dbo].[Teachers]
    WHERE (@SearchText = '' OR FirstName LIKE '%' + @SearchText + '%' OR LastName LIKE '%' + @SearchText + '%')
    ORDER BY 
         CASE WHEN @OrderBy = 'FirstName ASC' THEN FirstName END ASC,
         CASE WHEN @OrderBy = 'FirstName DESC' THEN FirstName END DESC,
         CASE WHEN @OrderBy = 'Id ASC' THEN Id END ASC,
         CASE WHEN @OrderBy = 'Id DESC' THEN Id END DESC
    OFFSET (@PageNumber - 1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetTeacherStats]    Script Date: 26.12.2025 02:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_GetTeacherStats]
    @pagination dbo.Type_Dictionary_String_String READONLY, -- Standart yapı gereği parametreler kalsın
    @where dbo.Type_Dictionary_String_String READONLY,
    @parameters dbo.Type_Dictionary_String_Object READONLY
AS
BEGIN
    -- Ünvanlara göre öğretmen sayılarını getirir
    SELECT 
        ISNULL(Title, 'Belirsiz') AS Label, 
        COUNT(*) AS Value
    FROM Teachers
    GROUP BY Title;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Student_Delete]    Script Date: 26.12.2025 02:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Silme
CREATE PROCEDURE [dbo].[SP_Student_Delete]
    @Id INT
AS
BEGIN
    DELETE FROM [dbo].[Students] WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Student_Insert]    Script Date: 26.12.2025 02:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. PROSEDÜRLERİ TEKRAR OLUŞTURALIM

-- Ekleme
CREATE PROCEDURE [dbo].[SP_Student_Insert]
    @StudentNumber NVARCHAR(20),
    @FirstName NVARCHAR(100),
    @LastName NVARCHAR(100),
    @Email NVARCHAR(150),
    @IsActive BIT
AS
BEGIN
    INSERT INTO [dbo].[Students] (StudentNumber, FirstName, LastName, Email, IsActive)
    VALUES (@StudentNumber, @FirstName, @LastName, @Email, @IsActive);
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Student_Update]    Script Date: 26.12.2025 02:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Güncelleme
CREATE PROCEDURE [dbo].[SP_Student_Update]
    @Id INT,
    @StudentNumber NVARCHAR(20),
    @FirstName NVARCHAR(100),
    @LastName NVARCHAR(100),
    @Email NVARCHAR(150),
    @IsActive BIT
AS
BEGIN
    UPDATE [dbo].[Students]
    SET StudentNumber = @StudentNumber,
        FirstName = @FirstName,
        LastName = @LastName,
        Email = @Email,
        IsActive = @IsActive
    WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Teacher_Delete]    Script Date: 26.12.2025 02:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. SİLME PROSEDÜRÜ
CREATE   PROCEDURE [dbo].[SP_Teacher_Delete]
    @Id INT
AS
BEGIN
    DELETE FROM [dbo].[Teachers] WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Teacher_Insert]    Script Date: 26.12.2025 02:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 1. EKLEME PROSEDÜRÜ
CREATE   PROCEDURE [dbo].[SP_Teacher_Insert]
    @FirstName NVARCHAR(100),
    @LastName NVARCHAR(100),
    @Email NVARCHAR(150),
    @Title NVARCHAR(50)
AS
BEGIN
    INSERT INTO [dbo].[Teachers] (FirstName, LastName, Email, Title)
    VALUES (@FirstName, @LastName, @Email, @Title);
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Teacher_Update]    Script Date: 26.12.2025 02:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. GÜNCELLEME PROSEDÜRÜ
CREATE   PROCEDURE [dbo].[SP_Teacher_Update]
    @Id INT,
    @FirstName NVARCHAR(100),
    @LastName NVARCHAR(100),
    @Email NVARCHAR(150),
    @Title NVARCHAR(50)
AS
BEGIN
    UPDATE [dbo].[Teachers]
    SET FirstName = @FirstName,
        LastName = @LastName,
        Email = @Email,
        Title = @Title
    WHERE Id = @Id;
END
GO
